<div id="travels">
    <div class="container-fluid destinations d-none d-lg-block" id="destination">
        <div class="row">
            {{#each travels}}
            <div class="card d-none d-lg-block yellowTravels col-4">
                <img class="card-img-top shadow-lg rounded" src="{{url}}" alt="beijing">
                <figure class="text-block">
                    <figcaption>
                        <p>{{description}}</p>
                        <h4>{{price}}</h4>
                    </figcaption>
                </figure>

                <div class="card-body text-center">
                    <h5 class="card-title">{{travel}}</h5>
                </div>

            </div>
            {{/each}}
        </div>

    </div>


    <div class="container-fluid d-none d-sm-block d-lg-none d-block d-sm-none carouselImages" id="carouselFligths">

        <div class="row justify-content-center">
            <div="col-12 d-none d-sm-block d-lg-none">
                <div id="images" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        {{#each travels}}
                        <div class="carousel-item {{#if @first}}active{{/if}}">

                            <div class="row">
                                <div class="col-8 ">
                                    <div id="textIdBlue">
                                        <div class="textBlue">{{description}}</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div id="textIdYellow">
                                        <div class="textYellow font-weight-bold">{{price}}</div>
                                    </div>
                                </div>
                            </div>
                            <img class="d-block w-100" src="{{url}}" alt="madrid">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{travel}}</h5>
                            </div>

                        </div>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#images" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#images" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>

            </div>
            
        </div>
        <nav arial-label="Page navigation example">
            <ul class="pagination">
                <!--enlace anterior -->
                {{#with paginate}} {{#if hasPreviousPages}}
                <li class="page-item prev">
                    <a class="page-link" href="{{prev_link this}}">Anterior </a>
                </li>
                {{/if}} {{/with}}
                <!-- paginas de 1 a n --->
                {{#each links}}
                <li class="page-item {{is_active @index  ../currentPage}}">
                    <a class="page-link" href="{{url}}">{{number}}</a>
                </li>
                {{/each}}
        
                <!--enlace siguiente -->
                {{#with paginate}} {{#has_next_links ../pageCount this}}
                <li class="page-item next">
                    <a class="page-link" href="{{next_link ../this}}">Siguiente </a>
                </li>
                {{/has_next_links}} {{/with}}
            </ul>
        </nav>
    </div>

</div>




<div class="container-fluid d-none d-lg-block" id="explication">
    <div class="row whoBackground">
        <div class="col-12 d-none d-lg-block">
            <div class="row">
                <div class="col-6 offset-6 d-none d-lg-block">
                    <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <h5 class="titleQS card-title">
                                QUIENES SOMOS
                            </h5>
                            <p class="textQS card-text">GeekHubs Travels es una agencia de viajes online creada en 2009 por un equipo de viajeros entusiastas
                                que deciden hacer de su pasión por conocer el mundo un modo de vida. Desde nuestros inicios
                                hemos diseñado más de 500 viajes organizados a diferentes destino de Europa, Norteamérica
                                y Asia. Nuestro objetivo ahora es ir ampliando nuevos horizontes poco a poco.</p>
                            <a href="#" class="btn btn-primary btn-lg text-uppercase describeButton">descubrir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid d-none d-sm-block d-lg-none d-block d-xs-block d-md-block QSBox" id="explicationMobile">
    <div class="row ">
        <div class="col-12">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="titleQS card-title">
                        QUIENES SOMOS
                    </h5>
                    <p class="textQS card-text">GeekHubs Travels es una agencia de viajes online creada en 2009 por un equipo de viajeros entusiastas
                        que deciden hacer de su pasión por conocer el mundo un modo de vida. Desde nuestros inicios hemos
                        diseñado más de 500 viajes organizados a diferentes destino de Europa, Norteamérica y Asia. Nuestro
                        objetivo ahora es ir ampliando nuevos horizontes poco a poco.</p>
                    <a href="#" class="btn btn-primary btn-lg text-uppercase describeButton">descubrir</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



<div class="container-fluid contact d-none d-lg-block" id="formMap">
    <div class="row">
        <div class="col-1 d-none d-lg-block">

        </div>
        <div class="col-4 d-none d-lg-block">
            <div class="mapGoogle">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d513.8216667893546!2d-0.3561054967107265!3d39.48174063382946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604898947abad3%3A0x5aae0e0b7fa0358a!2sGeeksHubs+Space+Valencia!5e0!3m2!1ses!2ses!4v1527777199967"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-1 d-none d-lg-block ">

        </div>
        <div class="col-5 d-none d-lg-block">
            <div class="column columText contactInfo">
                <div class="row">
                    <div class="col-12 d-none d-lg-block">
                        E:enquiry@artiotravel.com
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-none d-lg-block">
                        0264 123 4567
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-none d-lg-block">
                        <br>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-12 d-none d-lg-block">Give us a call or drop by anytime, we endeavour to answer all enqueries within 24 houra on business
                            days.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-none d-lg-block">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-none d-lg-block">
                        We are open from 8.30AM - 4.00PM week days.
                    </div>
                </div>
            </div>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6 d-none d-lg-block">
                        <input type="email" class="form-control" id="inputEmail1" placeholder="Name*">
                    </div>
                    <div class="form-group col-md-6 d-none d-lg-block">
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Email*">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 d-none d-lg-block">
                        <input type="email" class="form-control" id="inputEmail5" placeholder="Phone">
                    </div>
                    <div class="form-group col-md-6 d-none d-lg-block">
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Country">
                    </div>
                </div>
                <div class="form-group d-none d-lg-block">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                    <small class="form-text text-muted">*PLEASE COMPLETE ALL FIELDS CORRECTLY</small>
                </div>
            </form>
            <div class="Btn">
                <button type="button" class="btn btn-warning btn-lg font-italic d-none d-lg-block">Enviar mensaje</button>
            </div>
        </div>
        <div class="col-1 d-none d-lg-block">

        </div>
    </div>
</div>